    {% load static %}
          <div class="card my-2 mx-2 boy-card">
        <img src="{% if hood.image %}
        {{hood.image.url}}
        {% else %}
        {% static 'images/boy.jpeg' %}
        {% endif %}" class="img-fluid" />
        <div class="card-header">
          <a href="{% url 'detail' hood.id %}" class="text-black header-link"> {{hood.name}}</a
          >
        </div>
        <div class="card-body pb-0">
          <p>
            <i class="fas fa-search-location"></i>
            <a href="location:{{hood.location}}">&nbsp;&nbsp;&nbsp;&nbsp;Location {{hood.location}}</a>
          </p>
          <p>
            <i class="fas fa-users mr-2"></i>
            <a href="{{hood.count}}">Population {{hood.count}}</a>
          </p>
        </div>
      </div>
      <!-- Card for details ends -->