{% extends 'base.html' %}
{% load static %}
{% block title %}
My Hood Businesses
{% endblock title %}

{% block content %}
    <!-- Main Section -->
    <div class="container">
      <h3 class="heading font-weight-light">Here are your neighbourhood Businesses</h3>
      <hr />
    </div>
    <div class="container main-part">
    {% if businesses %}
    {% for business in businesses  %}
    
{% include 'partials/card.html' %}


    {% endfor %}
    {% else %}

    <p class="d-block font-weight-light my-2 heading">No business available yet!</p>
    {% endif %}
    </div>

    <!-- Main Section ends-->
{% endblock content %}